<h4>AdvanceSearch</h4>
<form asp-action="AdvanceSearchResults" asp-controller="Home">
    <label>Filters:</label><br />
    <label>Make:</label>
    <input type="text" name="Make" /><br />
    <label>Model:</label>
    <input type="text" name="Model" /><br />
    <label>Year:</label>
    <input type="number" name="Year"  /><br />
    <label>Color:</label>
    <input type="text" name="Color" /><br />
    <input type="submit" />
</form>