@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Grand Circus Car Dealership</h1>
    <p><a asp-controller="Home" asp-action="Data"> View Cars</a></p>
    <p><a asp-controller="Home" asp-action="Search"> Search Cars</a></p>
    <p><a asp-controller="Home" asp-action="AdvanceSearch"> Advance Search</a></p>

</div>