<h2>Search by:</h2>
<form asp-action="Results" asp-controller="Home">
    <select name="Keyword">
        <option value="Make">Make</option>
        <option value="Model">Model</option>
        <option value="Year">Year</option>
        <option value="Color">Color</option>
    </select>
    <input type="text" name="Query" />
    <input type="submit" />
</form>